body {
  color: rgb(10, 10, 10);
	background-color: #F8F4EC;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  border: 20px;
}

a:hover {
  color: orange;
  text-decoration: none;
}

#button {
  background-color: #87067A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#button:hover {
	background-color: #B403A2;
}

.img-circle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border:	2px solid pink;
	box-shadow: 2px 2px 3px grey;
}

.container {
  width: max-width;
  margin: 50px auto;
  text-align: center;
}

.card-white {
	background-color: #FF9BD2;
	border-radius: 4px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.card-white:hover {
	background-color: #FD5DC8;
	color : white;
}

.list-inline {
  list-style: none; /* kill the bullet points */
  padding-left: 0px; /* kill remaining padding left */
}
